<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
        <title>Hive</title>
    </head>

    <body class="simple-style" onLoad=displayOption(<%= ui.menuitem %>)>

        <div class ="titlediv">
        <h2>Hive Access Client</h2><hr>
        </div>

        <% include ./navbar.ejs %>
        <% include ./hive.ejs %>
    </body>

</html>
